.main{
    background-color: #141f1f;
    /* background-color: #24272E; */
    color: #ff7366;
    /* color: peachpuff; */
    /* color: #ffa299; */
    /* color: #FA9A85; */
    font-size: 28px;
    /* font-family: 'Arimo', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

mark.peach {
    color: peachpuff;
    background-color: #141f1f;
}

a:link, a:visited, a:active{
    color: #ff7366;
    /* color: peachpuff; */
    /* color: white; */
    text-decoration: none;
}

a:hover{
    color: white;
}

a.contact:link, a.contact:visited, a.contact:active{
    color: peachpuff;
    text-decoration: none;
}

a.contact:hover{
    color: white;
}

a.egg:link, a.egg:visited, a.egg:active{
    color: #141f1f;
    /* color: white; */
    text-decoration: none;
}

a.egg:hover{
    color: white;
}

.topnav-right{
    float: right;
}
