* {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
}

/* Setting fade transition and default settings */
body {
    color: #0D2049;
    background-color: #EB8F73;
    transition: background-color 1s ease, color 0.5s ease;
}
  
/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}

/* colours */
.color-uiuc {
    background-color: #121b21;
    color: #ff552e;
}
.color-amazon {
    /* background-color: #bdf3fe;
    color: #28378C; */
    background-color: #28378C;
    color: #bdf3fe;
}
.color-ece391 {
    background-color: #DDA0DD;
    color: #314020;
}
.color-contact {
    background-color: #78cfb6;
    color: #401C17;
}

a {
    color: #FFFEB0;
    text-decoration: none;
}

a:hover{
    transition: 0.5s;
    color: #fffee7;
}

/* @TODO: add styling for a tag, contact class*/
  
  /* styling for demo, can ignore */
body {
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
}
h1, h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
    padding: 5%;
}
p {
    max-width: 30em;
    margin-bottom: 1.618em;
}
